registry="https://registry.npmmirror.com" # 淘宝镜像
sharp_binary_host="https://npm.taobao.org/mirrors/sharp" # sharp 二进制包镜像
sharp_libvips_binary_host="https://npm.taobao.org/mirrors/sharp-libvips" # sharp-libvips 二进制包镜像